nav {

    background: #ffa7dd;
    grid-area: nav;

}

main{

    background: #e88ec7;
    grid-area: main;

}

#sidebar {

    background: #e4a8da;
    grid-area: sidebar;

}

#content1 {

    background: #c17bb3;

}

#content2 {

    background: #d485cc;
    grid-area: content2;

}

#content3 {

    background: #f496d8;
    grid-area: content3;
    
}

footer {

    background: #c97bc1;
    grid-area: footer;

}

@media only screen and (max-widht:550px)  {
    .container{
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 0.4fr 2.2fr 1.2fr 1.2fr 1.0fr;
    grid-template-areas:
    "nav"
    "sidebar"
    "main"
    "content1"
    "content2"
    "content3"
    "footer"

    ;

    }
}